<h1>Events</h1>
<%= link_to 'My Events', user_path(@user)   %>
<br><br>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% if @events.any? %>
  <% @events.each do |event|%>
    <ul>
      <li>
        <h2><%= link_to event.name, event_path(event) %>  </h2>
        <%= link_to 'Attend Event', new_booking_path(attended_event_id: event.id, attendee_id: current_user.id) %>
      </li>
    </ul>
  <% end %>
<% end %>
